<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>订单</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
</head>
<body ontouchstart="">
    <div class="weui-form-preview" style="margin-bottom: 4%" th:each="orders:${orders}">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">订单金额</label>
            <em class="weui-form-preview__value">¥<span th:text="${orders.money}"></span></em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">支付状态</label>
                <span class="weui-form-preview__value" th:text="${orders.pay_state}"></span>
            </p>
            <p>
                <label class="weui-form-preview__label">支付方式</label>
                <span class="weui-form-preview__value" th:text="${orders.pay_type}"></span>
            </p>
            <p>
                <label class="weui-form-preview__label">欠款金额</label>
                <span class="weui-form-preview__value" th:text="${orders.arrears_money}"></span>
            </p>
            <p>
                <label class="weui-form-preview__label">下单时间</label>
                <span class="weui-form-preview__value" th:text="${orders.repo_name}"></span>
            </p>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:orderDetail(${orders.id})" th:href="'javascript:orderDetail('+${orders.id}+')'">订单详情</a>
        </div>
    </div>
<script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script type="text/javascript">
    function orderDetail(id) {
        weui.alert("功能尚未开放,敬请期待!");
    }
</script>
</body>
</html>