<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>下单</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <link rel="stylesheet" th:href="@{/mescroll/mescroll.min.css}">
    <link rel="stylesheet" th:href="@{/mescroll/mescroll-option.css}">
</head>
<body ontouchstart="">
    <div id="mescroll" class="mescroll">
        <div>
            <div class="container" id="container">
                <div class="page">
                    <div class="page__hd">
                        <div class="weui-search-bar" id="searchBar">
                            <form class="weui-search-bar__form">
                                <div class="weui-search-bar__box">
                                    <i class="weui-icon-search"></i>
                                    <input type="search" class="weui-search-bar__input" placeholder="搜索" required="">
                                    <a href="javascript:" class="weui-icon-clear"></a>
                                </div>
                                <label class="weui-search-bar__label">
                                    <i class="weui-icon-search"></i>
                                    <span>搜索</span>
                                </label>
                            </form>
                            <a href="javascript:" class="weui-search-bar__cancel-btn">取消</a>
                        </div>
                    </div>
                    <div class="page__bd">
                        <div class="weui-cells__title">请选择要订购的油品型号及品牌</div>
                        <div class="weui-cells">
                            <div class="weui-cell weui-cell_access" th:id="oilType">
                                <div class="weui-cell__bd">
                                    <span style="vertical-align: middle">油品类型</span>
                                    <!--<span class="weui-badge" style="margin-left: 5px;">8</span>-->
                                </div>
                                <div class="weui-cell__ft" id="oilTypeVal">请选择</div>
                            </div>
                            <div class="weui-cell weui-cell_access" th:id="brand">
                                <div class="weui-cell__bd" id="brandBox">
                                    <span style="vertical-align: middle">品牌</span>
                                </div>
                                <div class="weui-cell__ft" id="brandVal">请选择</div>
                            </div>
                            <div class="weui-cell weui-cell_access" th:id="oilLevel">
                                <div class="weui-cell__bd">
                                    <span style="vertical-align: middle">油品级别</span>
                                </div>
                                <div class="weui-cell__ft" id="oilLevelVal">请选择</div>
                            </div>
                            <div class="weui-cell weui-cell_access" th:id="guige">
                                <div class="weui-cell__bd">
                                    <span style="vertical-align: middle">油品规格</span>
                                </div>
                                <div class="weui-cell__ft" id="guigeVal">请选择</div>
                            </div>
                            <div class="weui-cell weui-cell_access" th:id="num">
                                <div class="weui-cell__bd">
                                    <span style="vertical-align: middle">数量</span>
                                </div>
                                <div class="weui-cell__ft" id="numVal">请选择</div>
                            </div>
                        </div>
                    </div>
                    <div class="page__ft" id="ft">

                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/mescroll/mescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/mescroll/mescroll-option.js}"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script type="text/javascript">
    weui.searchBar('#searchBar');
    var totalSize = 0;
    $(function() {
        //创建MeScroll对象
        var mescroll = initMeScroll("mescroll", {
            down: {
                auto: false,//是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback, //下拉刷新的回调
            },
            up: {
                auto: true,//初始化完毕,是否自动触发上拉加载的回调
                isBoth: false, //上拉加载时,如果滑动到列表顶部是否可以同时触发下拉刷新;默认false,两者不可同时触发; 这里为了演示改为true,不必等列表加载完毕才可下拉;
                isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                callback: upCallback, //上拉加载的回调
                page: {
                    num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
                    size: 5 //每页数据条数,默认10
                },
                noMoreSize: 5
            }
        });

        /*下拉刷新的回调 */
        function downCallback() {
            //下拉回调函数
            window.location.reload();
        }

        /*上拉加载的回调 page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
        function upCallback(page) {
            //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
            //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
            //console.log("page.num=" + page.num + ", page.size=" + page.size);
            getGoodsList(page.num,page.size);
            mescroll.endBySize(page.size, totalSize);
        }
    });

    function getGoodsList(num,size){
        var oilType = $("#oilTypeVal").html();
        var brandVal = $("#brandVal").html();
        var oilLevelVal = $("#oilLevelVal").html();
        var guigeVal = $("#guigeVal").html();
        $.ajax({
            type: "get",
            data: {
                num: num,
                size: size,
                oilType: oilType,
                brandVal: brandVal,
                oilLevelVal: oilLevelVal,
                guigeVal: guigeVal
            },
            async: false,
            url: "[[@{/}]]" + "wx/getGoodsByGoodsDTO2.json",
            success: function (result) {
                var html = "";
                for (var i = 0; i < result.data.length; i++) {
                    html += "<div class=\"weui-panel weui-panel_access\" style=\"margin-top: 4%;margin-bottom: 4%\">\n" +
                        "                    <div class=\"weui-panel__bd\">\n" +
                        "                        <a href=\"javascript:void(0);\" class=\"weui-media-box weui-media-box_appmsg\">\n" +
                        "                            <div class=\"weui-media-box__hd\">\n" +
                        "                                <img class=\"weui-media-box__thumb\" src=" + result.data[i].img1 + " alt=\"\">\n" +
                        "                            </div>\n" +
                        "                            <div class=\"weui-media-box__bd\">\n" +
                        "                                <h4 class=\"weui-media-box__title\">" + result.data[i].goods_name + " " + result.data[i].brand_name + "<span style=\"color: red;float:right\">¥" + result.data[i].price + "</span></h4>\n" +
                        // "                                <p class=\"weui-media-box__desc\">级&nbsp;&nbsp;&nbsp;&nbsp;别\n" +
                        // "                                    <span th:id=\"guige\" style=\"padding-left:32%\">" + result.data[i].level_name + "</span>\n" +
                        // "                                </p>\n" +
                        // "                                <p class=\"weui-media-box__desc\">型&nbsp;&nbsp;&nbsp;&nbsp;号\n" +
                        // "                                    <span th:id=\"guige\" style=\"padding-left:32%\">" + result.data[i].model_name + "</span>\n" +
                        // "                                </p>\n" +
                        "                                <p class=\"weui-media-box__desc\">规&nbsp;&nbsp;&nbsp;&nbsp;格\n" +
                        "                                    <span id=\"guige\" style=\"padding-left:32%\">" + result.data[i].guige_name + "</span>\n" +
                        "                                </p>\n" +
                        "                                <p class=\"weui-media-box__desc\">库&nbsp;&nbsp;&nbsp;&nbsp;存\n" +
                        "                                    <span style=\"padding-left:32%\">99</span>\n" +
                        "                                </p>\n" +
                        "                            </div>\n" +
                        "                        </a>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"weui-panel__ft\">\n" +
                        "                        <a href=\"javascript:addCart("+ result.data[i].id +");\" class=\"weui-cell weui-cell_access weui-cell_link\" style=\"padding: 8px\">\n" +
                        "                            <div class=\"weui-cell__bd\" style=\"text-align: center\">添加至购物车</div>\n" +
                        "                        </a>\n" +
                        "                    </div>\n" +
                        "                </div>";
                }
                $("#ft").append(html);
                totalSize = result.totalSize;
            },
            error: function (result) {
                console.log(result);
                //联网失败的回调,隐藏下拉刷新和上拉加载的状态
                mescroll.endErr();
            }
        });
    }

    function addCart(id) {
        var num = $("#numVal").html();
        if(isNaN(num)){
            weui.alert("请选择数量!");
            return;
        }
        $.ajax({
            type: "post",
            data: {
                num: num,
                id: id
            },
            url: "[[@{/}]]"+"wx/addCart.json",
            success: function (result) {
               if(result){
                   weui.toast('操作成功', 3000);
                   $("#numVal").html("请选择");
               }else {
                   weui.alert("操作失败!");
               }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    $("#oilType").on("click",function(){
        // 单列picker
        weui.picker([
            {
                label: '请选择',
                value: 0
            },
            {
                label: '汽车用油',
                value: 1
            },
            {
                label: '工程机械油',
                value: 2
            },
            {
                label: '齿轮油',
                value: 4
            },
            {
                label: '防冻液',
                value: 5
            },
            {
                label: '其它',
                value: 6
            }
        ], {
            //className: 'custom-classname',
            //container: 'body',
             defaultValue: [0],
            onChange: function (result) {
                //console.log(result)
            },
            onConfirm: function (result) {
                //console.log(result);
                $("#oilTypeVal").html(result[0].label);
                $("#ft").empty();
                getGoodsList(1,5);
            }
            //id: 'oilType'
        });
    });
    $("#brand").on("click",function(){
        var oilType = $("#oilTypeVal").html();
        $.ajax({
            type: "get",
            data: {
                oilType: oilType
            },
            url: "[[@{/}]]"+"wx/getBranByOilType.json",
            success: function (result) {
                //console.log(result);
                var brands = new Array();
                brands.push({label:'请选择',value:0});
                for (var i=0;i<result.length;i++){
                    brands.push({label:result[i].brand_name,value:i+1});
                }
                //console.log(brands);
                weui.picker(brands, {
                    defaultValue: [0],
                    onChange: function (result) {
                    },
                    onConfirm: function (result) {
                        $("#brandVal").html(result[0].label);
                        $("#ft").empty();
                        getGoodsList(1,5);
                    }
                });
            }
        });
    });
    $("#oilLevel").on("click",function(){
        var oilType = $("#oilTypeVal").html();
        var brandVal = $("#brandVal").html();
        $.ajax({
            type: "get",
            data: {
                oilType: oilType,
                brandVal: brandVal
            },
            url: "[[@{/}]]"+"wx/getLevelByOilTypeAndBrand.json",
            success: function (result) {
                //console.log(result);
                var levels = new Array();
                levels.push({label:'请选择',value:0});
                for (var i=0;i<result.length;i++){
                    levels.push({label:result[i].level_name,value:i+1});
                }
                //console.log(levels);
                weui.picker(levels, {
                    defaultValue: [0],
                    onChange: function (result) {
                    },
                    onConfirm: function (result) {
                        $("#oilLevelVal").html(result[0].label);
                        $("#ft").empty();
                        getGoodsList(1,5);
                    }
                });
            }
        });
    });
    $('#guige').on('click', function () {
        var oilType = $("#oilTypeVal").html();
        var brandVal = $("#brandVal").html();
        var oilLevelVal = $("#oilLevelVal").html();
        $.ajax({
            type: "get",
            data: {
                oilType: oilType,
                brandVal: brandVal,
                oilLevelVal: oilLevelVal
            },
            url: "[[@{/}]]"+"wx/getLevelByOilTypeAndBrandAndLevel.json",
            success: function (result) {
                //console.log(result);
                var levels = new Array();
                levels.push({label:'请选择',value:0});
                for (var i=0;i<result.length;i++){
                    levels.push({label:result[i].guige_name,value:i+1});
                }
                //console.log(levels);
                weui.picker(levels, {
                    defaultValue: [0],
                    onChange: function (result) {
                    },
                    onConfirm: function (result) {
                        $("#guigeVal").html(result[0].label);
                        $("#ft").empty();
                        getGoodsList(1,5);
                    }
                });
            }
        });
    });
    $('#num').on('click', function () {
        weui.picker([{
            label: '请选择',
            value: 0
        },{
            label: '0',
            value: 1
        }, {
            label: '1',
            value: 2
        }, {
            label: '2',
            value: 3
        }, {
            label: '3',
            value: 4
        }, {
            label: '4',
            value: 5
        }, {
            label: '5',
            value: 6
        }, {
            label: '6',
            value: 7
        }, {
            label: '7',
            value: 8
        }, {
            label: '8',
            value: 9
        }, {
            label: '9',
            value: 10
        }, {
            label: '10',
            value: 11
        }], {
            defaultValue: [0],
            onChange: function (result) {
                //console.log(result);
            },
            onConfirm: function (result) {
                //console.log(result);
                $("#numVal").html(result[0].label);
            },
            //title: '选择商品规格'
        });
    });
</script>
</body>
</html>