<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>还款</title>
    <link rel="stylesheet" href="../src/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body>

<form class="layui-form" action="">
    <input type="hidden" th:name="id" th:value="${orderId}">
    <div style="margin: 2%;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">欠款金额</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" th:value="${arrearsMoney}" disabled/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">还款金额</label>
                <div class="layui-input-inline">
                    <input name="arrears_money" id="arrears_money" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">支付方式</label>
                <div class="layui-input-inline">
                    <select name="pay_type" id="pay_type">
                        <option value=""></option>
                        <option value="已支付">现金</option>
                        <option value="支付宝">支付宝</option>
                        <option value="微信支付">微信支付</option>
                        <option value="银联刷卡">银联刷卡</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">下次催款时间</label>
                <div class="layui-input-inline">
                    <input name="arrears_date" id="arrears_date" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-update" id="form-update" value="确定编辑"/>
    </div>
</form>

<script src="../src/layui.js" th:src="@{/layui/layui.all.js}" ></script>
<script>
    ;!function(){
        var form = layui.form,$ = layui.$,laydate = layui.laydate,layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        laydate.render({
            elem: '#arrears_date' //指定元素
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //监听提交
        form.on('submit(form-update)', function(data){
            $.ajax({
                type: "post",
                data: $("form").serialize(),
                url: "[[@{/}]]"+"pc/order/updateArrears.form",
                success: function(result){
                    parent.layui.table.reload('table'); //重载表格
                    parent.layer.close(index); //再执行关闭
                    parent.layer.msg(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });
            return false;
        });
    }();
</script>
</body>
</html>