<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单</title>
    <link rel="stylesheet" href="../src/css/weui.min.css" th:href="@{/weui/weui.min.css}">
</head>
<body ontouchstart="">
    <div class="page">
        <div class="page__bd" style="margin-top: 6.5%"></div>
        <!--<div class="page__hd" >&lt;!&ndash;head&ndash;&gt;</div>-->
        <div class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">订单金额</label>
                    <em class="weui-form-preview__value">¥2400.00</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">下单时间</label>
                        <span class="weui-form-preview__value">2019-08-09 13:22:59</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">用户名称</label>
                        <span class="weui-form-preview__value">张二蛋</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">联系方式</label>
                        <span class="weui-form-preview__value">18535306177</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">配送地址</label>
                        <span class="weui-form-preview__value">山西省阳泉市平定县XX路68号小鑫汽配</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">订单详情</a>
                    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">已送达</button>
                </div>
            </div>
            <br>
        </div>
        <!--<div class="page__ft" style="margin-bottom: 4%">&lt;!&ndash;foot&ndash;&gt;</div>-->

        <!--<div class="page__hd" >&lt;!&ndash;head&ndash;&gt;</div>-->
        <div class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">订单金额</label>
                    <em class="weui-form-preview__value">¥2400.00</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">下单时间</label>
                        <span class="weui-form-preview__value">2019-08-09 13:22:59</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">用户名称</label>
                        <span class="weui-form-preview__value">张二蛋</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">联系方式</label>
                        <span class="weui-form-preview__value">18535306177</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">配送地址</label>
                        <span class="weui-form-preview__value">山西省阳泉市平定县XX路68号小鑫汽配</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">订单详情</a>
                    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">已送达</button>
                </div>
            </div>
            <br>
        </div>
        <!--<div class="page__ft" style="margin-bottom: 4%">&lt;!&ndash;foot&ndash;&gt;</div>-->
    </div>
</body>
</html>