<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>天津日石订货系统</title>
    <link rel="stylesheet" href="../src/css/layui.css" th:href="@{/layui/css/layui.css}">
    <style type="text/css">
        .layui-layout-admin .layui-side-menu {
            z-index: 1001;
        }

        .layui-layout-admin .layui-logo {
            left: 0px;
            top: 0px;
            width: 220px;
            height: 49px;
            overflow: hidden;
            padding-top: 0px;
            padding-right: 15px;
            padding-bottom: 0px;
            padding-left: 15px;
            font-weight: 300;
            position: fixed;
            z-index: 1002;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }

        .layui-admin-pagetabs .layui-tab {
            margin-top: 0px;
        }

        .layui-admin-pagetabs .layui-tab-title li {
            border-right: 1px solid #f6f6f6;
        }

        .layui-admin-pagetabs .layui-tab-title .layui-this {
            background-color: rgb(246, 246, 246);
        }

        .layui-admin-iframe {
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            height: 790px;
            border: 0px;
        }
        .layui-bg-white{
            background-color: white;
        }
    </style>
    <script>
        //iframe高度自适应
        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                }
            }
        };
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div class="layui-header">
        <!--头部左侧导航-->
        <ul class="layui-nav layui-layout-left" lay-filter="leftmenu">
            <li class="layui-nav-item">
                <a href="javascript:;" class="hidetab" title="隐藏左侧菜单"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <!--<li class="layui-nav-item">-->
                <!--<a th:src="@{/pc/toHome.page}" title="主页"><i class="layui-icon layui-icon-home"></i></a>-->
            <!--</li>-->
            <li class="layui-nav-item">
                <a href="javascript:window.location.reload();" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
        </ul>
        <!--头部右侧导航-->
        <ul class="layui-nav layui-layout-right" lay-filter="rightmenu">
            <li class="layui-nav-item"><a href="./login.html">退出</a></li>
        </ul>
    </div>
    <!--左侧-->
    <div class="layui-side layui-side-menu">
        <!--带滚动条垂直导航-->
        <div class="layui-side-scroll layui-bg-black">
            <div class="layui-logo">天津日石订货系统</div>
            <ul class="layui-nav layui-nav-tree" lay-filter="navtree">
                <!--默认展开-->
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" title="菜单"><i class="layui-icon layui-icon-home"></i><cite>菜单</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" th:lay-href="@{/toClientList.page}">客户列表</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/goods/toGoodsList.page}">商品列表</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/order/toOrderList.page}">订单列表</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/order/toAddOrder.page}">添加订单</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/brand/toBrandList.page}">品牌列表</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/toOrderList.page}">库存盘点</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/repo/toRepoList.page}">仓库列表</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/stock/toStockLogList.page}">进货记录</a></dd>
                        <dd><a href="javascript:;" th:lay-href="@{/pc/staff/toStaffList.page}">员工管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--正文-->
    <div class="layui-body layui-bg-gray">
        <!--选项卡-->
        <div class="layui-admin-pagetabs">
            <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="pagetabs">
                <ul class="layui-tab-title layui-bg-white">
                    <li class="layui-this" lay-id="./home.html"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe th:src="@{/pc/toHome.page}" class="layui-admin-iframe" scrolling="no" frameborder="0" onload="setIframeHeight(this);"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--底部-->
    <div class="layui-footer">Copyright © 2019 gms</div>
</div>
<script src="../src/layui.js" th:src="@{/layui/layui.all.js}" ></script>
<script>
    ;!function(){
        var element = layui.element
            ,layer = layui.layer
            ,$ = layui.jquery;
        //隐藏tab主页关闭标签
        $(".layui-tab-title li:first-child i:last-child").css("display","none");
        //tab点击监控
        element.on('tab(pagetabs)',function(data){
            //tab切换时，左侧菜单对应选中
            var url = $(this).attr("lay-id");
            $(".layui-nav-tree li dd").each(function(i,e){
                if($(this).find("a").attr("lay-href")==url){
                    $(this).attr("class","layui-this");
                }else{
                    $(this).attr("class","");
                }
            })
        });
        //顶部左侧菜单监控
        element.on('nav(leftmenu)',function(elem){
            //隐藏显示侧边菜单
            if(elem[0].className=="hidetab"){//隐藏
                //侧边菜单伸缩
                $(".layui-side-menu").animate({width:$(".layui-side-menu").width()-144+"px"});
                //正文伸缩
                $(".layui-body").animate({left:$(".layui-body").position().left-144+"px"});
                //底部伸缩
                $(".layui-footer").animate({left:$(".layui-footer").position().left-144+"px"});
                $(this).attr("class","showtab");
                $(this).find("i").attr("class","layui-icon layui-icon-spread-left");
                //侧边菜单只显示图标
                $(".layui-nav-tree").find("li").each(function(em,ind){
                    $(this).find("cite").css("display","none");
                    $(this).find("dl").css("display","none");
                });
            }else if(elem[0].className=="showtab"){//显示
                $(".layui-side-menu").animate({width:$(".layui-side-menu").width()+144+"px"});
                $(".layui-body").animate({left:$(".layui-body").position().left+144+"px"});
                $(".layui-footer").animate({left:$(".layui-footer").position().left+144+"px"});
                $(this).attr("class","hidetab");
                $(this).find("i").attr("class","layui-icon layui-icon-shrink-right");
                $(".layui-nav-tree").find("li").each(function(em,ind){
                    $(this).find("cite").css("display","");
                    $(this).find("dl").css("display","");
                });
            }else{

            }
        });
        //左侧垂直菜单监控
        element.on('nav(navtree)',function(elem){
            if($(".layui-side-menu").width()<200){
                $(".layui-side-menu").animate({width:$(".layui-side-menu").width()+144+"px"});
                $(".layui-body").animate({left:$(".layui-body").position().left+144+"px"});
                $(".layui-footer").animate({left:$(".layui-footer").position().left+144+"px"});
                $(".layui-layout-left li:first-child").find("a").attr("class","hidetab");
                $(".layui-layout-left li:first-child").find("i").attr("class","layui-icon layui-icon-shrink-right");
                $(".layui-nav-tree").find("li").each(function(em,ind){
                    $(this).find("cite").css("display","");
                    $(this).find("dl").css("display","");
                });
            }else{
                if($(this).attr("lay-href")!=undefined){
                    var  flag = true;
                    //url
                    var url = $(this).attr("lay-href");
                    //判断选项卡中是否存在已打开的页面，如果有直接切换到打开页面
                    $(".layui-tab-title li").each(function(i,e){
                        if($(this).attr("lay-id")==url){
                            //切换选项卡
                            element.tabChange('pagetabs', url);
                            flag = false;
                        }
                    })
                    if(flag){
                        //新增选项卡
                        element.tabAdd('pagetabs', {
                            title: elem[0].innerText
                            ,content: '<iframe src="'+url+'" class="layui-admin-iframe" scrolling="no" frameborder="0" onload="setIframeHeight(this)"></iframe>'
                            ,id: url
                        });
                        //切换选项卡
                        element.tabChange('pagetabs', url);
                    }
                }
            }
        });
    }();
</script>
</body>
</html>